textarea.materialize-textarea {
    height: 13rem;
}

.main {
    margin-top: 5px;
}

.main-body {
    height: 355px !important;
    overflow: hidden;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.no-shadow {
    box-shadow: none !important;
}

.custom-center {
    display: flex;
    justify-content: center;
}

.control-btns {
    vertical-align: middle !important;
    margin-top: -50px;
}

.control-btn {
    height: 40px !important;
    vertical-align: baseline;
}

.fade-in {
    animation: fade-in 0.3s ease forwards;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-out {
    animation: fade-out 0.3s ease forwards;
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#input-ta, #output-ta {
    resize: none;
    overflow-y: scroll;
    max-height: 13rem;
}