textarea.materialize-textarea {
    height: 13rem;
}

.main {
    margin-top: 5px;
}

.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

.no-shadow {
    box-shadow: none !important;
}

.custom-center {
    display: flex;
    justify-content: center;
}

.control-btns {
    vertical-align: middle !important;
    margin-top: -50px;
}

.control-btn {
    height: 40px !important;
    vertical-align: baseline;
}